
body {
  font-family: 'Montserrat', sans-serif;
  background:#e1dcdc;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background:#e1dcdc;
}

.header {
  width: 100%;
  max-width: 1440px;
  background: #646148;
}

.nav {
  margin: 40px 120px;
}

.nav-ul-main {
  position: relative;
  margin-left: 370px;
}

.nav-ul-main-li,
.nav-ul-main {
  display: inline-block; /*позиціонування елементів навігації, вирішила потренуватись з даною функцією замість flex*/ 
}

.nav li{
  border: 1px solid transparent; /*прибираємо подригування*/
}

/*змінюємо колір посилань при наведенні на них*/  
.nav li:hover {
  background-color: rgb(158, 157, 157);
  border: 1px solid black;
}

.nav-ul-main-li {
  padding: 4px;
}

/*стилізація посилань*/ 
.nav a { 
  display: block;
  padding: 0px 10px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
}

.a-with-plus::after { /*Помітка для мене - в CSS3 появилась запись ::after (с двумя двоеточиями) для различения псевдоклассов и псевдоэлементов*/
  content: "+";
}

/*підменю*/ 
.nav ul li:hover > ul { /*випадає підменю 1 рівня при наведенні курсора*/ 
  display: block;
}

.nav ul ul li:hover > ul { /*випадає підменю 2 рівня при наведенні курсора*/ 
  display: block;
}

.nav ul ul {
  display: none; /*ховаємо випадаюче меню 1 рівня*/
  position: absolute; /*задаємо позиціонування*/
  background: #878462;
  top: 70px;
  left: 94px;
}

.nav-ul-level-1-li {
  width: 200px;
  position: relative;
}

.nav ul ul ul {
  display: none; /*ховаємо випадаюче меню 2 рівня*/
  position: absolute; /*задаємо позиціонування*/ 
  background: #9f9c78; 
  top: 0px;
  left: 199px;
}

.nav-ul-level-1-1-li {
  width: 200px;
  position: relative;
}







